// Breakpoint for Screen Sizes
$breakpoints: (
    'small':( min-width: 512px),
    'medium': ( min-width: 768px),
    'large': ( min-width: 1025px),
);

@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pageWrap {
    transform: translate3d(0, 0, 0) rotateY(0);
    transform-style: preserve-3d;
    transition: 0.5s;
    overflow-x: hidden;
    height: 100vh;
    background: #fff;
}

.pageWrapActive {
    transform: translate3d(-100px, 0px, -600px) rotateY(20deg);
    overflow: hidden;
}

@keyframes delayed {
    0% {
        z-index: 2;
    }
    100% {
        z-index: 0;
    }
}

.delayed-Z {
    animation-name: delayed;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(100,100,100,0);
    transition: .5s;
    z-index: 2;
}

.overlay--active {
    background: rgba(100,100,100,.3);
}

.outerContainer {
    height: 100%;
    perspective: 1500px;
    transition: 0.5s;
}

.background__menu {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(121, 34, 34, 0.87) 1%, #2f2f38 100%);
    opacity: 1;
}

.morphClose {
    .dot {
        &:nth-of-type(1) { transform: translate(0px, 0px); }
        &:nth-of-type(2) { transform: translate(7px, 7px); }
        &:nth-of-type(3) { transform: translate(30px, 0px); }

        &:nth-of-type(4) { transform: translate(7px, 23px); }
        &:nth-of-type(5) { transform: translate(15px, 15px); }
        &:nth-of-type(6) { transform: translate(23px, 7px); }

        &:nth-of-type(7) { transform: translate(0px, 30px); }
        &:nth-of-type(8) { transform: translate(23px, 23px); }
        &:nth-of-type(9) { transform: translate(30px, 30px); }
    }
    &:hover {
        .dot {
            background-color: #222;

            &:nth-of-type(1) { transform: translate(-3px, -3px); }
            &:nth-of-type(2) { transform: translate(6px, 6px); }
            &:nth-of-type(3) { transform: translate(33px, -3px); }

            &:nth-of-type(4) { transform: translate(6px, 24px); }
            &:nth-of-type(5) { transform: translate(15px, 15px); }
            &:nth-of-type(6) { transform: translate(24px, 6px); }

            &:nth-of-type(7) { transform: translate(-3px, 33px); }
            &:nth-of-type(8) { transform: translate(24px, 24px); }
            &:nth-of-type(9) { transform: translate(33px, 33px); }
        }
    }
}

.morphOpen {
    .dot {
        $num: 0;
        @for $i from 1 through 9 {
            @if $i%3 == 1 {
                $num: 0;
            }

            &:nth-of-type(#{$i}) {
                transform: translate(15px*$num, 15px*(floor(($i - 1)/3)))
            }

            $num: $num + 1;
        }
    }
    &:hover {
        .dot {
            background-color: #222;

            &:nth-of-type(1) { transform: translate(-3px, -3px); }
            &:nth-of-type(2) { transform: translate(15px, 0px); }
            &:nth-of-type(3) { transform: translate(33px, -3px); }

            &:nth-of-type(4) { transform: translate(0px, 15px); }
            &:nth-of-type(5) { transform: translate(15px, 15px); }
            &:nth-of-type(6) { transform: translate(30px, 15px); }

            &:nth-of-type(7) { transform: translate(-3px, 33px); }
            &:nth-of-type(8) { transform: translate(15px, 30px); }
            &:nth-of-type(9) { transform: translate(33px, 33px); }
        }
    }
}

.menu {
    position: fixed;
	top: 30px;
	right: 30px;
    height: 40px;
    width: 40px;
	cursor: pointer;
    z-index: 4;

    .dot {
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #7d7d7d;
        transition: 0.2s ease-in-out;
    }
}

.project__list {
    display: block;
    margin: 50px auto;
    text-align: center;
    max-width: 800px;
}

.project {
    max-width: 350px;
    width: 100%;
    margin: 40px 25px;
    display: inline-block;
    box-shadow: 2px 5px 20px 10px rgba(46, 61, 73, 0.2);
    border-radius: 2%;
    overflow: hidden;
    transition: .5s;
    .project__img--container {
        position: relative;
        img {
            width: 100%;
        }
        .project__image--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .5s;
        }
    }
    &:hover {
        box-shadow: 2px 5px 20px 0 rgba(46, 61, 73, 0.2);
        .project__info {
            a {
                color: #8e8e8e;
            }
        }
    }

    &:hover:nth-of-type(1) {
        transition: .5s;
        // .project__image--overlay {
        //     background: rgba(100, 36, 36, .2);
        // }
        // .project__info {
        //     div {
        //         border: 1px solid rgba(137,255,178,.8);
        //     }
        // }
    }

    &:nth-of-type(1) {
        .project__image--overlay {
            background: linear-gradient(to bottom, rgba(45,229,192,.5) 0%,rgba(137,255,178,.8) 100%);
        }
        .project__info {
            div {
                border: 1px solid rgba(137,255,178,.8);
            }
        }
    }
    &:nth-of-type(2) {
        .project__image--overlay {
            background: linear-gradient(to bottom, rgba(49,102,247,.5) 0%,rgba(190,133,247,.7) 100%);
        }
        .project__info {
            div {
                border: 1px solid rgba(190,133,247,.8);
            }
        }
    }
    &:nth-of-type(3) {
        .project__image--overlay {
            background: linear-gradient(to bottom, rgba(237,47,47,.5) 0%,rgba(175,96,166,.8) 100%);
        }
        .project__info {
            div {
                border: 1px solid rgba(175,96,166,.8);
            }
        }
    }
    &:nth-of-type(4) {
        .project__image--overlay {
            background: linear-gradient(to bottom, rgba(37,94,186,.4) 0%,rgba(47,53,86,.8) 100%);
        }
        .project__info {
            div {
                border: 1px solid rgba(37,94,186,.8);
            }
        }
    }
    &:nth-of-type(5) {
        .project__image--overlay {
            background: linear-gradient(to bottom, rgba(255,187,50,.6) 0%,rgba(255,188,137,.9) 100%);
        }
        .project__info {
            div {
                border: 1px solid rgba(255,188,137,.9);
            }
        }
    }
    .project__info {
        text-align: left;
        margin: 35px 30px;
        font-size: 14px;
        h2 {
            font-weight: 500;
            color: #555;
        }
        p {
            font-weight: 500;
            color: #777;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #b1b1b1;
            font-weight: 500;
            transition: .5s;
        }
        div {
            width: 135px;
            height: 35px;
            margin: 20px 5px 5px 5px;
            display: inline-flex;
            background: #fff;
            transition: .5s;
        }
    }
}



.social {
    position: absolute;
    top: 400px;
    right: 0;
    z-index: 3;
    margin: 0 30px;
    transform: translate3d(512px, 0, 0) rotateY(0);
    transform-style: preserve-3d;
    transition: 0.5s;
    overflow: hidden;
}

.socialActive {
    transform: translate3d(0, 0, 0) rotateY(0);
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social li {
    padding: 10px;
    margin: 5px;
}

.social img {
    width: 35px;
}


@include breakpoint('small') {
    .social {
        top: 50%;
        transform: translate3d(0, -50%, 0) rotateY(0);
        transform-style: preserve-3d;
        right: auto;
    }

    .socialActive {
        transform: translate3d(-100px, -50%, -600px) rotateY(20deg);
    }

    .social li {
        padding: 10px;
        margin: 30px 0;
    }

    .social img {
        width: 25px;
    }

}