.menu {
    position: fixed;
	padding: 20px;
	top: 30px;
	right: 30px;
	cursor: pointer;

    .dot {
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #000;
        transition: 0.2s ease-in-out;
        border-radius: 50%;

        $num: 0;
        @for $i from 1 through 9 {
            @if $i%3 == 1 {
                $num: 0;
            }

            &:nth-of-type(#{$i}) {
                transform: translate(15px*$num, 15px*(floor(($i - 1)/3)))
            }

            $num: $num + 1;
        }
    }

    &:hover {
        .dot {
            background-color: #555;

            &:nth-of-type(1) { transform: translate(-4px, -4px); }
            &:nth-of-type(3) { transform: translate(20px, -4px); }
            &:nth-of-type(7) { transform: translate(-4px, 20px); }
            &:nth-of-type(9) { transform: translate(20px, 20px); }
        }
    }

    &.active {
        .dot {
            &:nth-of-type(1) { transform: translate(0, 0); }
            &:nth-of-type(2) { transform: translate(4px, 4px); }
            &:nth-of-type(3) { transform: translate(16px, 0); }
            &:nth-of-type(4) { transform: translate(4px, 12px); }
            &:nth-of-type(6) { transform: translate(12px, 4px); }
            &:nth-of-type(7) { transform: translate(0, 16px); }
            &:nth-of-type(8) { transform: translate(12px, 12px); }
            &:nth-of-type(9) { transform: translate(16px, 16px); }
        }

        &:hover {
            .dot {
                &:nth-of-type(1) { transform: translate(-4px, -4px); }
                &:nth-of-type(2) { transform: translate(2px, 2px); }
                &:nth-of-type(3) { transform: translate(20px, -4px); }
                &:nth-of-type(4) { transform: translate(2px, 14px); }
                &:nth-of-type(6) { transform: translate(14px, 2px); }
                &:nth-of-type(7) { transform: translate(-4px, 20px); }
                &:nth-of-type(8) { transform: translate(14px, 14px); }
                &:nth-of-type(9) { transform: translate(20px, 20px); }
            }
        }
    }
}