body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Raleway', sans-serif;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s, transform 0s 0.3s;
}

.morphClose {
    .dot {
        &:nth-of-type(1) { transform: translate(0px, 0px); }
        &:nth-of-type(2) { transform: translate(7px, 7px); }
        &:nth-of-type(3) { transform: translate(30px, 0px); }

        &:nth-of-type(4) { transform: translate(7px, 23px); }
        &:nth-of-type(5) { transform: translate(15px, 15px); }
        &:nth-of-type(6) { transform: translate(23px, 7px); }

        &:nth-of-type(7) { transform: translate(0px, 30px); }
        &:nth-of-type(8) { transform: translate(23px, 23px); }
        &:nth-of-type(9) { transform: translate(30px, 30px); }
    }
    &:hover {
        .dot {
            background-color: #000;

            &:nth-of-type(1) { transform: translate(-3px, -3px); }
            &:nth-of-type(2) { transform: translate(6px, 6px); }
            &:nth-of-type(3) { transform: translate(33px, -3px); }

            &:nth-of-type(4) { transform: translate(6px, 24px); }
            &:nth-of-type(5) { transform: translate(15px, 15px); }
            &:nth-of-type(6) { transform: translate(24px, 6px); }

            &:nth-of-type(7) { transform: translate(-3px, 33px); }
            &:nth-of-type(8) { transform: translate(24px, 24px); }
            &:nth-of-type(9) { transform: translate(33px, 33px); }
        }
    }
}

.morphOpen {
    .dot {
        $num: 0;
        @for $i from 1 through 9 {
            @if $i%3 == 1 {
                $num: 0;
            }

            &:nth-of-type(#{$i}) {
                transform: translate(15px*$num, 15px*(floor(($i - 1)/3)))
            }

            $num: $num + 1;
        }
    }
    &:hover {
        .dot {
            background-color: #000;

            &:nth-of-type(1) { transform: translate(-3px, -3px); }
            &:nth-of-type(2) { transform: translate(15px, 0px); }
            &:nth-of-type(3) { transform: translate(33px, -3px); }

            &:nth-of-type(4) { transform: translate(0px, 15px); }
            &:nth-of-type(5) { transform: translate(15px, 15px); }
            &:nth-of-type(6) { transform: translate(30px, 15px); }

            &:nth-of-type(7) { transform: translate(-3px, 33px); }
            &:nth-of-type(8) { transform: translate(15px, 30px); }
            &:nth-of-type(9) { transform: translate(33px, 33px); }
        }
    }
}

.menu {
    position: fixed;
	top: 30px;
	right: 30px;
    height: 40px;
    width: 40px;
	cursor: pointer;
    z-index: 3;

    .dot {
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #555;
        transition: 0.2s ease-in-out;
    }
}